{% extends "base.html" %}

{% block content %}
    <h2>Add new post...</h2>
    <form method='post'>
        <label>
            Title: <input type="text" name='title' /> 
            <span class="error">{{title_error}}</span>
            Date: <input type="date" name='date' /><p></p>
            <span class="error">{{body_error}}</span>
            Create your post!
            <input type="textarea" name='content' />
        </label>
        <input type="submit" value='Publish' />
    </form>

    <hr />

{% endblock %}